@charset "utf-8";
/* CSS Document */
/*Begin base styles*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background:#F78183;
	color: #3F3F3F;

}
/*END base styles*/

/*Begin form header*/

.form-header,
.title,
.form-title {
 	text-align: center;
	font-family: 'Vollkorn SC', serif;
	 
}

.title {
	background-color:#3F3F3F;
	color: antiquewhite;
	text-transform: uppercase;
	padding: 25px;
	margin-bottom: 25px;
	
}

.form-header {
	max-width: 90%;
	margin: auto;
	padding-bottom: 25px;
	margin-bottom: 5px;
	border-bottom: solid 4px black;
}

.form-title {
	text-align: left;
	margin: auto;
	padding-top: 23px;
	border-top: solid 1px black;
	max-width: 90%;
	
}





/*END form header*/


/*Begin form*/



fieldset {
	border: none;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
	text-align: left;
	padding-top: 10px;
	font-family: 'Vollkorn SC', serif;
	
	
	
}

legend {
	border-top: solid 2px black;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Vollkorn SC', serif;
	font-weight:bold;
	
}

#zip {
	margin-bottom: 15px;
	width: 30%;
}

.input {
	margin: 5px 0;
	background: #EBEBEB;
	border: none;
	border-radius: 3px;
	padding: 15px;
	width:100%;
	text-align: right;
	font-style: italic;
	font-size: 13px;
	
	
	

}

.input:focus {
	background:#fff;
	transition-duration: .6s;
	outline: none;
	border-radius: 10px;
	
	
}



form p {
	margin: 10px 0;
	font-weight: bold;
}



.check,
.radio {
	margin-right: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

#textbox {
	height: 12em;
}

button {
	color: antiquewhite;
	background:#3F3F3F;
	font-family: 'Vollkorn SC', serif;
	height: 3em;
	width: 100%;
	margin: 2em 0;
	border: none;
	
}

button:hover {
	background-color: antiquewhite;
	color:#3F3F3F;
	border-radius: 10px;
	transition-duration: .5s;
}

footer {
	background: #D2D2D2;
	height: 8em;
	text-align: center;
	padding-top: 2em;
	
}



@media (min-width: 768px){
	#flexit {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
	}
	
	#flexit input,
	#flexit select

   {
    width: 75%;
  }
	
	 #flexit label {
    width: 25%;
    align-self: center;
  }
	
	
	.form-header,
	.main-form {
		max-width: 60%;
		margin: auto;
	}
	
	.form-header {
		margin-bottom: .5em;
	}
	fieldset {
		margin: 0;
		padding: 0;
	}
	
	#flexit #zip {
		width: 30%;
	}
	
}
	
	@media(min-width:1024px) {
		.form-header,
		.main-form {
			max-width: 55%;
		}
	}